<div class="widget">

  <div>
    <img height="35" [src]="isTurnedOn ? '/assets/lampOn.png' : '/assets/lampOff.png'">
    <span>{{widgetName}}</span>
  </div>

  <div class="widgetContent">
    <div style="margin:auto">
      <div>
        <mat-slider min="0" max="255" [(ngModel)]="color1" [disabled]="!isTurnedOn" (change)="onColorChanged($event)"></mat-slider>{{color1}}
      </div>
      <div>
        <mat-slider min="0" max="255" [(ngModel)]="color2" [disabled]="!isTurnedOn" (change)="onColorChanged($event)"></mat-slider>{{color2}}
      </div>
      <div>
        <mat-slider min="0" max="255" [(ngModel)]="color3" [disabled]="!isTurnedOn" (change)="onColorChanged($event)"></mat-slider>{{color3}}
      </div>

    </div>

    <div class="buttonGroup">
      <mat-button-toggle-group #group="matButtonToggleGroup" (change)="onButtonClicked(group.value)">
        <mat-button-toggle value="On">
          On
        </mat-button-toggle>
        <mat-button-toggle value="Off">
          Off
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

</div>