<div>

  <div *ngIf="!isLoggedIn" style="text-align:center">
    <img class="welcomeImage" alt="" src="/assets/welcome.jpg">
    <p id="welcome">Welcome</p>
    <div id="loginBlock">
      <div class="loginInput">
        <mat-form-field>
          <input type="text" matInput placeholder="Имя" [(ngModel)]="name">
        </mat-form-field>
      </div>
      <div class="loginInput">
        <mat-form-field>
          <input type="password" matInput placeholder="Пароль" [(ngModel)]="password">
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" (click)="signIn()">Sign in</button>

      <div *ngIf="wrongPassword" style="color:red">
        Неправильный пароль!
      </div>
    </div>
  </div>

  <div *ngIf="isLoggedIn">
    <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
      <mat-toolbar color="primary" class="example-toolbar">
        <button *ngIf="mobileQuery.matches" mat-icon-button (click)="toggleMenu()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Hello, {{displayName}}!</h1>
        <div class="filler"></div>
        <button id="signoutBtn" mat-button (click)="signOut()">
          Sign out
        </button>
      </mat-toolbar>

      <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav class="sidenav-menu" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
          fixedTopGap="56" [opened]="!mobileQuery.matches">
          <mat-nav-list>
            <div class="menuItem" mat-list-item [routerLink]="nav.link" *ngFor="let nav of menuItems">
              <img height="50"  [src]="nav.img"> 
              <span>{{nav.name}}</span>
            </div>
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="widgetPanel">
           
            <app-light-switch>
            </app-light-switch>
            <app-color-picker-switch>
            </app-color-picker-switch>

            <div class="widget">
              Message from Brick {{message}}
            </div>
            <div class="widget">
              Message from Brick {{message}}
            </div>
          </div>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>


</div>